export DELTAFICLI_K8S_NAMESPACE=deltafi
export DELTAFICLI_PROJECT_NAME=deltafi
export DELTAFICLI_CHART_PATH=${DELTAFICLI_WORKDIR}/../charts/deltafi
export DELTAFICLI_COMPOSE_PATH=${DELTAFICLI_WORKDIR}/../compose
export DELTAFI_MODE=CLUSTER
