fqdns:
  - local.deltafi.org
  - graphite.local.deltafi.org
  - metrics.local.deltafi.org
  - minio.local.deltafi.org
  - k8s.local.deltafi.org
  - egress.local.deltafi.org
  - local.plugin.registry
persistent_volume:
  storage: '1G'
plugins:
  # - name: deltafi-something
  #   plugin_coordinates: "org.deltafi.something:deltafi-something:latest"
  #   image_repository_base: localhost:5000
  #   url: 'https://gitlab.com/deltafi/plugins/deltafi-something'
